@page  "/Ventas/Create"
@using GestorPC.Models
<h3>Modulo de Ventas</h3>
<table class="table">
    <tr>
        <td>Cedula Cliente:</td>
        <td>
            <select name="Cliente" @bind="fact.DniCliente">
                <option>Eliga una opcion</option>
                @foreach (var item in @getClients())
                {
                    <option value="@item.DniCliente">@item.NombreCliente @item.ApellidoCliente </option>
                }
            </select>
        </td>
        <input type="button" style="background-color:lawngreen" value="Empezar Venta" class="btn btn-primary" />
    </tr>
    <tr>
        <td>Computadora:</td>
        <td>
        <td><select name="Computadoras" @bind="fact.IdComputadora">
                <option>Eliga una opcion</option>
                @foreach (var item in @getPc())
                {
                    <option value="@item.IdComputadora">@item.Marca + @item.Modelo </option>
                }
            </select></td>
        </td>
    </tr>
    <tr>
        <td>Precio (En RD$):</td>
        <td><input type="text" class="form-control col-sm-4"></td>
        <td>Descuento (En %):</td>
        <td><input type="text" class="form-control col-sm-4"></td>
    </tr>
    <tr>
        <td>Total de la compra:</td>
        <td><input type="text" class="form-control col-sm-4"></td>
    </tr>
</table>
<input type="button" style="background-color:lawngreen" value="Finalizar" class="btn btn-primary" />
<input type="button" style="background-color:red" value="Cancelar" class="btn btn-primary" />

@code {
    Models.Facturas fact = new Models.Facturas();

    List<Models.Clientes> getClients() => new bfzebczn9tgtxtf05ivfContext().Clientes.ToList();

    List<Models.Computadoras> getPc() => new bfzebczn9tgtxtf05ivfContext().Computadoras.ToList();
}
