@page  "/CRUD_Clientes/Clientes"
@using GestorPC.Models

<h3>Modulo de Clientes</h3>
@if (Usuario.correo != null && Usuario.contraseña != null)
{
    <div class="container">
        <p>Tabla de Clientes:</p>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>DNI del Cliente</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Lugar de Nacimiento</th>
                    <th>Dirreccion</th>
                    <th>Correo del Cliente</th>
                    <th>Telefono del Cliente</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in getClients())
                {
                    <tr>
                        <th>@item.DniCliente</th>
                        <th>@item.NombreCliente</th>
                        <th>@item.ApellidoCliente</th>
                        <th>@item.FechaNacimiento</th>
                        <th>@item.LugarNacimiento</th>
                        <th>@item.Direccion</th>
                        <th>@item.CorreoCliente</th>
                        <th>@item.TelefonoCliente</th>
                    </tr>
                }
            </tbody>

        </table>

        <center>
            <button class="btn btn-primary" style="background-color:#00C738">
                <span class="oi oi-plus" aria-hidden="true"></span>
                <a href="/CRUD_Clientes/Create_Clientes"> Agregar</a>
            </button>
            <button class="btn btn-primary" style="background-color:#1DB4F5">
                <span class="oi oi-pencil" aria-hidden="true"></span>
                <a href="/CRUD_Clientes/Update_Clientes"> Modificar</a>
            </button>
            <button class="btn btn-primary" style="background-color:#FB0000">
                <span class="oi oi-trash" aria-hidden="true"></span>
                <a href="/CRUD_Clientes/Delete_Clientes"> Eliminar</a>
            </button>
        </center>
    </div>
}
else
{
<div class="container">
    <h1 class="display-6">Debes Iniciar Sesion con un correo valido para Vizualizar el contenido</h1>
    <br>
    <p>
        Ya tienes una cuenta? Inicia Sesion
    </p>
    <a href="/Account/Login">Iniciar sesion</a>
</div>}


@code { List<Models.Clientes> getClients() => new bfzebczn9tgtxtf05ivfContext().Clientes.ToList(); }
